<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cucumber</title>
    <style>
        body {
            /* background-color: grey; */
        }
        a { color: inherit; }
        ul { border: 1px solid black; }
        ul li { list-style: none; }
        ul li ul { margin-top: 4px; border: 1px dashed; border-width: 1px 0px 0px 1px; }
        ul li ul li ul { border: none; }
        span.feature { font-size: 18px; font-weight: bold; cursor: pointer; text-decoration: underline; color: #0d3349; }
        span.scenario { font-size: 16px; font-weight: bold; color: darkgreen; text-decoration: underline; }
        .pending { font-weight: bold; color: orange; }
        .skipped { font-weight: bold; color: orangered; }
        .steps { font-weight: bold; color: green; }
        .summary span { display: block; }
    </style>
</head>
<body>
{{{body}}}
</body>
</html>